*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

:root {
  --primeira: #4A90E2;     /* Azul sereno, transmite confiança e foco */
  --secundaria: #50E3C2;   /* Verde água, leve e refrescante */
  --escuro: #2C3E50;       /* Azul petróleo, firme e profundo */
  --maisescuro: #1A252F;   /* Azul quase preto, para contraste forte */
  --claro: #F5F7FA;        /* Cinza muito claro, limpo e suave */
  --vidro: #FFFFFFCC;      /* Branco translúcido (efeito vidro) */
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.navegacao {
  position: fixed;
  top: 0;
  background: rgb(15, 23, 42, 0.8);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.3rem;
}

.menu-link {
  color: var(--claro);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.menu-link::after{
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primeira), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after{
  width: 100%;
}

.foto-perfil{
  width: 200px;
  height: 250px;
  box-shadow: 0 0 20px var(--primeira);
  border-radius: 50%;
  border: 4px solid var(--vidro);
}

.cabecalho {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  color: var(--primeira);
  font-weight: bold;
}

.cabecalho-subtitulo{
  font-size: 1.5rem;
  color: var(--claro);
}

.sobre{
  padding: 6rem 2rem;
}

.sobre-titulo{
  font-size: 2rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 20px;
}

.sobre-caixa{
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo{
  text-align: left;
  font-size: 1.1rem;
}